img {
    max-width: 100%;
    height: auto;
}


.checkout-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section,
aside {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    animation: fadeIn 0.6s ease-in-out;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus {
    border-color: black;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

button {
    background: #e67e22;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #e67e22;
    animation: pulse 0.6s;
}


.order-summary strong {
    color: #e67e22;
    font-size: 18px;
}

footer {
    margin-top: auto;
    width: 100%;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 0;
    color: white;
}

@media (min-width:481px) {

    nav ul {
        flex-direction: row;
        gap: 20px;
    }

}

@media (min-width:769px) {

    header {
        flex-direction: row;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
    }

    .checkout-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .checkout-form {
        flex: 2;
    }

    .order-summary {
        flex: 1;
        position: sticky;
        top: 20px;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}